input {
    background-color: #F8FDFF;
    border:solid 1px #BFBDBD;
    border-radius: 4px;
    height: 38px;
    padding-left:10px;
    margin-left: 100px;
    width: 300px;
    font: 18px arial,sans-serif;
}

li {
  display: inline;
}

